@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400&display=swap');

* {
  box-sizing: border-box;
}

.card {
  width: 350px;
  height: 350px;
  border: 3px rgb(42, 41, 42) solid;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Kumbh Sans', sans-serif;
}

.card__topImg {
  max-width: 100%;
  z-index: 1;
}

.card__topImgVictor {
  position: absolute;
  border-radius: 50%;
  border: 5px white solid;
  z-index: 2;
  top: 80px;
  left: 120px;
}

.card__middle {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
  font-size: 18px;
}

.card__middleInfo {
  display: flex;
  justify-content: space-evenly;
}

.card__middleInfo-Name {
  font-weight: 700;
}

.card__middleInfo-Age {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  padding-left: 10px;
}

.card__middle-City {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

hr {
  width: 100%;
  border-top: 1px solid #ccc;
}

.footer {
  font-size: 11px;
  text-align: center;
}
.footer a {
  color: hsl(228, 45%, 44%);
}
